.random-elements-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding: 20px;
}

.randomelement {
    width: 20%;
    margin-right: 40px;
    text-align: center;
}

    .randomelement img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .randomelement img:hover {
        width: 50vw;
        height: 50vh;
        object-fit: cover;
        position: absolute;
        top:10%;
        left:20%;
    }


.randomelement * {
    color:whitesmoke;
}