
.blogdetail-wrapper {
    max-width: 60%;
    margin: 50px auto;
    color: whitesmoke;
}

    .blogdetail-wrapper * {
        margin-bottom: 15px
    }

    .blogdetail-wrapper img {
        width: 100%;
        border-radius: 12px;
    }

    .blogdetail-wrapper h1,
    .blogdetail-wrapper h4 {
        text-align: center;
    }
