@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(161,106,93,1) 0%, rgba(58,195,205,1) 35%, rgba(241,221,189,1) 100%);
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.random-elements-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
    padding:20px;
}

.randomelement{
    width:20%;
    margin-right:40px;
    text-align:center;
}

.randomelement img{
    height:80px;
    width:100%;
    object-fit:cover;
    border-radius:8px;
}

.home-wrapper{
    max-width:90%;
    margin: 50px auto;
    display:flex;
}






