@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(161,106,93,1) 0%, rgba(58,195,205,1) 35%, rgba(241,221,189,1) 100%);
}

code {
  color: #E01A76;
}
