
@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(161,106,93,1) 0%, rgba(58,195,205,1) 35%, rgba(241,221,189,1) 100%);
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.car-card-wrapper{
    max-width:80%;
    display:flex;
    flex-wrap:wrap;
    margin:50px auto;
}

.car-card,
.blog-card{
    width: 21%;
    border: 1px solid;
    margin: 0px 30px 30px 0px;
    padding: 20px 0px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 5px lightgrey;
}

.car-card:hover,
.blog-card:hover{
    transform: rotateX(10deg) rotateY(10deg);
}

.car-card-image,
.blog-card-image{
    width:100%;
    height: 180px;
    object-fit:cover;
    border-radius: 10px;
}

.car-card-title,
.blog-card-theme{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: whitesmoke;
}

.car-card-model,
.car-card-year,
.car-card-price,
.blog-card-title,
.blog-card-description{
    color:whitesmoke;
    margin-bottom: 5px;
}

.car-form-wrapper{
    margin-top:70px;
    display:flex;
    justify-content:center;

}

.car-card-thumbs{
    display:flex;
    justify-content:center;
}

.car-card-thumbs p{
    margin-right:10px;
    color:whitesmoke;
}


.car-card-thumbs i {
    color: whitesmoke;
    cursor: pointer;
}

.car-card-thumbs .fa-thumbs-up{
    color:lightgreen;
}

.car-card-thumbs .fa-thumbs-down{
    color:red;
}



.car-form {
    max-width: 20%;
    display: flex;
    flex-direction: column;
}

.car-form input,
.car-form button{
    background: transparent;
    box-shadow: 0px 0px 8px 5px lightgrey;
    border: 3px solid lightgrey;
    }

.nav{
    max-width:80%;    
    display:flex;
    justify-content:space-between;
}

.navigation{
    margin-top:1rem;
    display:flex;
    align-items:center;
    width:55%;
    justify-content:space-between;
}

.navigation-item{
  list-style:none;
}

.navigation-link{
    text-decoration:none;
    color:whitesmoke;
    font-size:20px;
}


.nav-logo-wrapper{
    width:10%;
}

.nav-logo{
    width:100%;
    max-height:50px;
    object-fit:contain;
    cursor:pointer;
    margin-top:20px;
}

@media (prefers-reduced-motion: no-preference) {
    .nav-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.weather-form {
    max-width: 20%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.weather-form input{
    background:transparent;
    border:3px solid lightblue;
    padding-left:30px;
    border-top:none;
    border-right:none;
    border-left:none;
}

.weather-form button{
    background: transparent;
    border:3px solid lightblue;
    color: gray;
    border-radius:12px;
}

.weather-info {
    display: flex;
    max-width: 50%;
    justify-content: space-around;
    margin: auto;
}

.weather-info span{
    color:whitesmoke;
}

.addcar-button,
.addblog-button {
    border: 1px solid;
    margin-left: 50%;
    display: inline-flex;
    margin-top: 20px;
    padding: 2px 20px;
    font-size: 18px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 5px lightgrey;
    color: lightgray;
}


.addblog-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 50px auto;
}

.addblog-wrapper * {
    padding:10px;
}


.blogdetail-wrapper {
    max-width: 60%;
    margin: 50px auto;
    color:whitesmoke;
}

.blogdetail-wrapper *{
    margin-bottom:15px
}

.blogdetail-wrapper img{
    width:100%;
    border-radius: 12px;
}

.blogdetail-wrapper h1,
.blogdetail-wrapper h4{
   text-align:center;
}
.car-details-wrapper{
    max-width:80%;
    margin:50px auto;
    display: flex;
    justify-content:space-around;
}

.car-details-image {
    width:60%;
}

.car-details-image img{
    width:100%;
    border-radius:10px;
}

.car-details-info{
    width:30%;
}

.car-items * {
    display: block;
}

.navigation-item-links {
    display: none;
    position: absolute;
    left:48.5%;
}

.navigation-item-links-link {
    display: block;
    text-align:right;
    color:whitesmoke;
}



.hiddens:hover .navigation-item-links {
    display: block;
}

.navigation-item-btn{
    border:none;
    background: transparent;
    color:whitesmoke;
    font-size:20px;
}
