




.about-wrapper {
    max-width: 80%;
    margin: 50px auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
    color: whitesmoke;
}


.about-wrapper-title {
    margin-left: 5%;
    margin-bottom: 30px;
}

.about-product {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 30px;
}

    .about-product img {
        width: 80%;
        border-radius: 25px;
    }

.about-blog {
    margin-left: 10%;
    flex-basis: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

    .about-blog img {
        width: 80%;
        border-radius: 25px;
    }

.about-selling {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .about-selling img {
        width: 85%;
        border-radius: 25px;
    }
