
.contact-wrapper {
    max-width: 80%;
    margin: 40px auto 100px auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}


.contact-field * {
    display: block;
}

.contact-image{
    width:57%;
}

.contact-image img{
    width:100%;
}

.contact-wrapper form {
    width: 40%;
    display: flex;
    padding: 10px;
}

.contact-wrapper form label{
    color: whitesmoke;
}

.contact-wrapper form input{
    width:100%;
    margin-bottom:15px;
    background:transparent;
    box-shadow: 0px 0px 8px 5px lightgrey;
    border: 3px solid lightgrey;
}

.field-textarea textarea {
    background: transparent;
    box-shadow: 0px 0px 8px 5px lightgrey;
    border: 3px solid lightgrey;
}

.contact-inputs-wrapper {
    width: 45%;
}

.contact-description-wrapper{
    width:45%;
    margin-left:15px;
}


.field-button {
    margin-top: 50px;
    margin-bottom: 20px;
}

.field-button input{
        color:whitesmoke;
    }

