
.blog-card-wrapper {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto 100px auto;
}

.blog-card {
    width: 21%;
    border: 1px solid;
    margin: 0px 30px 30px 0px;
    padding: 20px 0px;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 30px;
    box-shadow: 0px 0px 8px 5px lightgrey;
}

.blog-card:hover{
    transform: rotateX(10deg) rotateY(10deg);
}

.blog-card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.blog-card-theme {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: whitesmoke;
}

.blog-card-title,
.blog-card-description {
    color: whitesmoke;
    margin-bottom: 5px;
}

.addblog-button {
    border: 1px solid;
    display: inline-flex;
    margin-left:20px;
    margin-top: 20px;
    padding: 2px 20px;
    font-size: 18px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px 5px lightgrey;
    color: lightgray;
}

.no-blogs-theme{
    display:flex;
    justify-content:center;
    margin-top:30px;
}


.blogs-theme {
   text-align:center;
}